# Configurações do MongoDB
MONGO_URI=mongodb://localhost:27017
DB_NAME=validator_db

# Configurações da LLM (Google Gemini)
# Gere sua chave em: https://aistudio.google.com/
GEMINI_API_KEY=sua_chave_aqui

# Configurações do Servidor
PORT=8080
